body{
    background-color: #92c9b1;
}

main {
    padding: 2rem;
}

.info-section {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.info-box {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.info-box h2 {
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
    color: #000;
}

.info-box p, .info-box ul {
    color: #000;
    font-size: 1rem;
}

.info-box ul {
    padding-left: 1.5rem;
    list-style-type: disc;
}

.resaltado {
    background-color: #a2faa3;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    transform: scale(1.03);
    transition: all 0.3s ease-in-out;
    border: 2px solid #5fb960; 
}
