

.seccion{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contenedorCartas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.carta {
    overflow: hidden;
    width: 320px;
    height: 550px;
    border: 1px solid #4D006e; 
    border-radius: 9px;
    box-shadow: 3px 3px 5px #2f0242;
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    background-color: #b5d6c8;
}

.carta .tituloCarta{
    padding: 8px;
    text-align: center;
    font-weight: bold;
    color: #040404;
}

.carta img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.carta .cartaBody {
    padding: 0.5rem;
    color: #4D006e;
    flex-grow: 1;
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: left;  
}

.carta .cartaFooter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carta .cartaFooter button {
    background-color: #196343;
    color: #fff;
    width: 100%;
    border: 1px solid darkslateblue;
    padding: 0.85rem 0.75rem;
    cursor: pointer; 
    border-radius: 5px;
    font-size: 1rem; 
}

.carta .cartaFooter a{
    text-decoration: none;
    color: #fff;
    width: 100%;
    border: 1px solid darkslateblue;
    padding: 0.85rem 0.75rem;
    cursor: pointer; 
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
    font-weight: lighter;
    background-color: #196343;
}

.carta .cartaFooter button:hover {
    background-color: #19634396;
}

.carta .cartaFooter a:hover {
    background-color: #19634396;
}

.carta:hover{
    transform: scale(1.03);
}

.fondoBorroso {
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    z-index: 1000;
}

.infoVoluntario{
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1001;
    background-color: #b5d6c8;
}

.frmVoluntarios{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
    gap: 0px;
    
}

.frmVoluntarios div{
    display: flex;
    flex: 1 1 100%;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 0px 15px 0px;
}

.frmVoluntarios label{
    font-size: 0.8rem;
    width: 30%;
    
}

.frmVoluntarios .altura{
    height: 1.5rem;
}

.frmVoluntarios .inputV{
    border-radius: 9px;
    width: 60%;
    border: 1px solid #4D006e;
}

.frmVoluntarios .btnVoluntario{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.frmVoluntarios button{
    background-color: #4d006e51;
    height: 2rem;
    border-radius: 15px;
    width: 50%;
}

.frmVoluntarios .DerechaX{
    display: flex;
    justify-content: flex-end;
}

.frmVoluntarios .btnCerrar {
    background-color: red;
    color: white;
    border: none;
    padding: 2px;
    width: 2rem;
    cursor: pointer;
    border-radius: 50%;
    font-weight: bolder;
    font-size: 1.2rem;
}


form div div.error{
    color: red;
    font-size: 0.8rem;
    width: 100%;
}

form div input.error{
    border-color: red;
    outline-color: red;
}


.blur {
    filter: blur(5px);
    pointer-events: none;
}

.redes{
    display: none;
    flex-direction: column;
    position: fixed;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1001;
    background-color: #b5d6c8;
    gap: 1rem;
}

.redes .DerechaR{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
}

.redes .btnCerrar {
    background-color: red;
    color: white;
    border: none;
    padding: 2px;
    width: 2rem;
    cursor: pointer;
    border-radius: 50%;
    font-weight: bolder;
    font-size: 1.2rem;
}

.redes button{
    background-color: #b5d6c8;
    border: 0px;
    padding: 5px;
}

.redes button:hover{
    border: 3ox solid #1a5e42f5;
    background-color: #343f3af5;
}
