main {
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
}

h2 {
    text-align: center;
    color:#4b0f6d ; 
    margin-bottom: 1.5rem;
}


.programa {
    background-color: #fff;
    margin-bottom: 1.5rem;
    padding: 2rem;
    border-left: 5px solid #4b0f6d;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    background-size: cover;
    background-position: center;
    color: #fff;
    border-radius: 10px;
    overflow: hidden;
    min-height: 200px;
}

.programa::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 0;
}

.programa * {
    position: relative;
    z-index: 1;
}
